<mat-toolbar color='primary'>
  <span>Weather</span>
</mat-toolbar>

<mat-progress-bar *ngIf='loading' color='accent' mode='indeterminate'/>

<main>
  <div class="form-controls">
    <mat-form-field class="search-city-field">
      <mat-label>Search City</mat-label>
      <input
        matInput
        [disabled]="loading"
        [formControl]='citySearchControl'
        (keyup.enter)="addCity()"
      />
      <mat-icon matSuffix *ngIf="citySearchControl.value"
                (click)="clearCitySearchControl()" class="clear-btn">close
      </mat-icon>
    </mat-form-field>

    <button mat-stroked-button (click)="addCity()" class="add-city-btn"
            [disabled]="loading || !citySearchControl.value">
      Add
      <mat-icon>add</mat-icon>
    </button>

    <mat-form-field appearance="fill">
      <mat-label>Select search mode</mat-label>
      <mat-select [formControl]="timeOptionsControl" (valueChange)="changeTimeOption($event)" [disabled]="loading">
        <mat-option *ngFor="let option of timeOptions" [value]="option">
          {{ option | titlecase }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <mat-table *ngIf="dataSource?.data?.length" [dataSource]="dataSource" [fixedLayout]="true" class="mat-elevation-z2">
    <ng-container matColumnDef="city_name" class='first-column'>
      <mat-header-cell *matHeaderCellDef>City Name</mat-header-cell>
      <mat-cell *matCellDef='let row'> {{row?.timezone}} </mat-cell>
    </ng-container>

    <ng-container *ngFor="let column of displayedColumns.slice(1, displayedColumns.length); let i = index">
      <ng-container [matColumnDef]="column" *ngIf="timeOptionsControl.value==='hourly'">
        <mat-header-cell *matHeaderCellDef>{{column | date:"HH:mm"}}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.hourly[i].temp | number:"1.0-0"}}°{{i}}</mat-cell>
      </ng-container>
      <ng-container [matColumnDef]="column" *ngIf="timeOptionsControl.value==='daily'">
        <mat-header-cell *matHeaderCellDef>{{column | date:"EEEE"}}</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.daily[i].temp.day | number:"1.0-0"}}°{{i}}</mat-cell>
      </ng-container>
    </ng-container>

    <mat-header-row *matHeaderRowDef='displayedColumns; sticky: true'/>
    <mat-row *matRowDef='let row; columns: displayedColumns'/>
  </mat-table>
</main>

<router-outlet/>
