mat-progress-bar {
  position: fixed;
  top: 4rem;
}

main {
  padding: 1rem;
}

.form-controls {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

mat-table {
  max-width: 1200px;
  min-width: unset;

  mat-header-row {
    top: -1rem !important;
  }

  .first-column {
    width: 200px;
  }
}
